@use "./variables" as v;

.goods {
  padding-bottom: 40px;

  @media (min-width: v.$tablet-second-width) {
    padding-bottom: 60px;
  } 
}

.goods__title {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 900;
  margin-bottom: 24px;

  @media (min-width: v.$tablet-width) {
    font-size: 32px;
    margin-bottom: 32px;
  }

  @media (min-width: v.$tablet-second-width) {
    margin-bottom: 40px;
  } 
}

.goods__list {
  display: grid;
  gap: 32px 8px;
  grid-template-columns: repeat(auto-fit, 140px);

  @media (min-width: v.$tablet-width) {
    gap: 32px 10px;
    grid-template-columns: repeat(auto-fit, 230px);
  }

  @media (min-width: v.$tablet-second-width) {
    gap: 40px 16px;
    grid-template-columns: repeat(auto-fit, 302px);
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__link {
  margin-bottom: 12px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 16px;
  }
}
.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.card__like-button {
  position: absolute;
  top: 12px;
  right: 12px;

}

.card__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 18px;
  color: #1C1C1C;
  
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 18px;
  }
}

.card__name {
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.card__price {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.button {
  color: #0044F0;
  padding: 12px 24px;
  border-radius: 32px;
  border: 1px solid #0044F0;

  &:not(:disabled):hover {
    color: #FFFFFF;
    background-color: #0044F0;
  }

  &:focus-visible {
    color: #0044F0;
    border: 1px solid #042F9C;
  }

  &:disabled {
    opacity: 20%;
    pointer-events: none;
  }
}